@font-face {
    font-family: "cad";
    src: url(./police/pwhappychristmas/PWHappyChristmas.ttf);
}

body{
    background-color: #FFEAC5;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;    
}

li a img {
    width: 5em;
    padding: 2em;
    border-radius: 50px;
    
}

main{
    background-color: white;
    padding: 1em;
    border: solid black 5px;
    border-radius: 50px;
}

h1, h2 {
    text-align: center;
}

h1{
    font-family: "cad";
    color: red;
}


